@import url("https://fonts.googleapis.com/css?family=Public+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  /* font-family: "Public Sans", sans-serif !important; */
  font-family: 'Rubik', sans-serif;
  font-size: 18px !important;
  color: #2d314d !important;
}

p {
  cursor: default !important;
}

/*Navbar*/
@media only screen and (min-width: 320px) and (max-width: 767.98px) {
  nav {
    z-index: 3000 !important;
    padding: 0 1rem 0 1rem !important;
  }

  .nav-link {
    text-align: center;
    font-weight: bold;
    /* color: #2D314D !important; */
    color: #000000 !important;
    outline: none !important;
  }

  .navbar-brand {
    padding-top: 4% !important;
    padding-bottom: 2% !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 849.98px) {
  h1 {
    padding-top: 6px !important;
  }

  .navbar-brand {
    padding: 0 !important;
  }

  nav {
    z-index: 3000 !important;
    padding: 0 6rem 0 6rem !important;
    width: 100%;
    padding-left: 3% !important;

  }

  .navbar-expand-md .navbar-collapse {
    padding-left: 5% !important;
  }
}

@media only screen and (min-width: 850px) and (max-width: 1199.98px) {
  h1 {
    padding-top: 6px !important;
  }

  .navbar-brand {
    padding: 0 !important;
  }

  nav {
    z-index: 3000 !important;
    padding: 0 6rem 0 6rem !important;
    width: 100%;
    padding-left: 7% !important;
    padding-top: 0.5% !important;
    padding-bottom: 0.5% !important;
  }

  .navbar-expand-md .navbar-collapse {
    padding-left: 12% !important;
  }
}

@media only screen and (min-width: 1200px) {
  h1 {
    padding-top:6px !important;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
  }

  .navbar-brand {
    padding: 0 !important;
  }

  nav {
    z-index: 3000 !important;
    padding: 0 6rem 0 6rem !important;
    width: 100%;
    padding-left: 6% !important;
    padding-right: 8% !important;
    padding-top: 0.5% !important;
    padding-bottom: 0.5% !important;
  }

  .navbar-expand-md .navbar-collapse {
    padding-left: 20% !important;
  }
}

.nav-link {
  font-size: 16px !important;
  outline: none !important;
  font-weight:500;
  color: #000000 !important;
}

.nav-link:active {
  border-bottom: 4px solid #31d35c !important;
  font-weight: 600;
}

#header-request-invite-btn {
  background: linear-gradient(90deg, #31d35c, #2bb7da) !important;
  font-size: 15px !important;
  display: block;
  margin: auto;
}

/*Introduction*/
@media only screen and (min-width: 320px) and (max-width: 767.98px) {
  .w-xs-50 {
    width: 50% !important;
  }
  /* #intro{
    height:100vh;
  } */
  #introduction {
    min-height: 50vh !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0% -8vh;
    width: 100%;
  }

  #intro-img-holder {
    /* top: % !important; */
  }

  #intro-img {
    width: 95% !important;
  }

  h2 {
    margin-top: 2%;
    font-weight:600;
    cursor: default !important;
  } 
  #intro{
    min-height:100vh;
  }
  #try-slip-btn{
    margin:0 auto;
    width: 250px;
    height: 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1198.98px) {
  .w-md-50 {
    width: 50% !important;
  }

  .w-md-85 {
    width: 85% !important;
  }

  #introduction {
    background-repeat: no-repeat;
    background-position: 8% 112%;
  }

  #intro-img-holder {
    top: 0% !important;
    left: 0% !important;
    height: 100% !important;
  }

  #intro-img {
    height: 110% !important;
  }

  h2 {
    margin-top: 8vh;
  }
}

@media only screen and (min-width: 1200px) {
  .w-md-50 {
    width: 50% !important;
  }

  .w-md-85 {
    width: 85% !important;
  }

  #intro {
    height: 95vh;
  }
  
  #introduction {
    background-repeat: no-repeat;
    background-position: 11% 112%;
  }

  #intro-img-holder {
    top: -0% !important;
    left: 0% !important;
    height: 100% !important;
  }

  #intro-img {
    height: 100% !important;
  }

  h2 {
    margin-top: 6vh;
    margin-bottom: 6vh;
    cursor: default !important;
  }
  .container-fluid-md{
    height:100%;
  }
  #try-slip-btn {
    min-width: 380px;
    min-height: 50px;
  }
  
  #business-tagline {
    font-size: 2.6rem !important;
    font-weight: 600;
  }

}

@media only screen and (min-width: 1200px) {
  #features h2{
    margin-top: 4vh;
    margin-bottom: 4vh;
    cursor: default !important;
    font-weight:600;
  }
}

/* business text color */
.color-grayish-blue {
  /* color: #9698a6 !important; */
  color: #000000 !important;
  font-weight: 400;
}

#business-tagline .business-tag {
  color: #0B2DAC;
}

#request-invite-btn {
  background: linear-gradient(90deg, #31d35c, #2bb7da) !important;
  font-size: 18px !important;
  display: block;
}

#try-slip-btn {
  background: linear-gradient(90deg, #2450C0 0%, rgba(0, 15, 55, 0.95) 97.69%);
  font-size: 20px !important;
  font-weight: 600;
  display: block;
  /* line-height: 40px; */
  color: rgba(255, 255, 255, 1);

  max-width:400px;
  max-height:50px;
}

#try-slip-btn .arrow-img{
  height: 26px;
  width: 26px;
  margin-left:1.5rem;
}


#try-free-btn {

  /* background: linear-gradient(90deg, #31d35c, #2bb7da) !important; */
  font-size: 18px !important;
  font-family: 'Inter' , 'sans-serif';
  display: block;
  margin:0 auto;
  border: 2px solid rgba(248, 162, 83, 1);
  border-radius: 10px;
  width: 150px;
  height: 45px;
}

#login-btn {
  background: #0B2DAC;
  font-size: 18px !important;
  display: block;
  margin: auto;
  border-radius: 10px;
  width: 130px;
  height: 45px;
  font-family: 'Inter' , 'sans-serif';
}

#login-btn .img-user{
  height: 22px;
  width: 22px;
  margin-right:0.5rem;
}
.box-container {
  margin-top: 6vh;
}

/* Features */
@media only screen and (min-width: 320px) and (max-width: 767.98px) {
  #features {
    background-color: #f3f4f6 !important;
  }

  .double-gutter-md-left-padding {
    padding-left: 0px !important;
  }
  .card {
    /* padding-top: 1.5rem;
    padding-bottom: 1.5rem; */
    min-width: 280px;
    min-height: 350px;
    margin:20px auto;
  }
  #feature-cards{
    margin:0 auto;
  }
}

@media only screen and (min-width: 768px) {
  #features {
    /* background-color: #f3f4f6 !important; */
    width: 100% !important;
    max-width: 100% !important;
    /* to counter container max-width for md+ screens*/
  }

  .gutter-md-left-padding {
    padding-left: 15px !important;
  }

  .double-gutter-md-left-padding {
    padding-left: 30px !important;
  }
}

#features{
  background-color: #f3f4f6 !important;
}
#feature-cards {
  justify-content: space-between;
  align-items: center;

}

.card {
  /* padding-top: 1.5rem;
  padding-bottom: 1.5rem; */
  /* background-color: #1e4dac !important; */
  /* background: linear-gradient(107.72deg, #D98461 2.97%, #652AC1 100%); */

  border-radius: 31px;

  /* border-image-source: linear-gradient(114.54deg, #8745A6 2.22%, #D27F68 98.43%);   */
  margin: 20px auto;
  cursor: default !important;
  color: rgba(255, 255, 255, 1);

  align-items: center;
  /* filter: blur(200px); */
  /* min-width: 400px;
  height: 310px; */

}

.card h4 {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  text-align: center;
  font-weight:600;
}

.card img {
  width: 15% !important;
}

.card p {
  width: 90%;
  font-size: 15px !important;
  text-align: center;
}

#Card-Feat-1 {
  background: linear-gradient(107.72deg, #D98461 2.97%, #652AC1 100%);
  /* filter: drop-shadow(0px 0px 10px  #652AC1); */

}

#Card-Feat-2 {
  background: linear-gradient(107.72deg, #D96161 2.97%, #C12AA0 100%);

}

#Card-Feat-3 {
  background: linear-gradient(107.72deg, #162458 2.97%, #652AC1 100%);

}

#Card-Feat-4 {
  background: linear-gradient(107.72deg, #61D99F 2.97%, #2AA6C1 100%);

}



@media only screen and (min-width: 768px) and (max-width: 991.98px) {}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mt-md-features-section {
    margin-top: 0px !important;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1549.98px) {
  .mt-md-features-section {
    margin-top: 0px !important;
  }

  .card {
    /* padding-top: 1.5rem;
    padding-bottom: 1.5rem; */

    min-width: 400px;
    height: 300px;
  }
  #feature-cards{
    margin:0px 25px;
  }

}

@media only screen and (min-width: 1550px) {
  .mt-md-features-section {
    margin-top: 0px !important;
  }

  #business-tagline {
    font-size: 3.4rem !important;
    font-weight: 600;
  }
}

.request-btns:hover,
.request-btns:active {
  opacity: 0.7;
}




/* SECTION */

#explores {
  min-height: 90vh;
}
.section{
  margin-top:50px;
  margin-bottom:50px;
}
.align-center {
  text-align: center;
}

/* IMAGE START */

img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-container {
  display: grid;
  margin: 40px;
  grid-gap: 5rem 1rem;
}
.section-container h2 {
  font-weight:600;
}

.section-container p {
  width: 90%;
  font-size: 16px !important;
  text-align: start;
}


.section .section-container {
  grid-template-columns: 0.9fr 1.1fr;
  grid-template-rows: minmax(100px, 1fr);
  grid-template-areas:
    "img-1 text-1"

}

.text-container:nth-child(1) {
  grid-area: text-1;
}

.section-container .image-container:nth-child(1) {
  grid-area: img-1;
}



.section-container {
  margin: 0 auto;
}

.section-container:first-child {
  margin-top: 0;
}


#explore {
  min-width: 95vh;
}

.explore-card {
  /* padding-top: 2rem;
  padding-bottom: 1.5rem; */

  /* background: linear-gradient(107.72deg, #D98461 2.97%, #652AC1 100%); */
  /* border-image-source: linear-gradient(114.54deg, #8745A6 2.22%, #D27F68 98.43%);   */
  margin: 20px;
  cursor: default !important;
  color: #2d314d;
  align-items: center;
  min-width: 300px;
  height:90px;
  background: #FFFFFF;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 27px;

}

.explore-card h4 {
  margin: 0;
  text-align: center;
  font-size:18px;
  font-weight:600;
}

@media only screen and (min-width: 320px) and (max-width: 767.98px) {
.image-container img{
  height:100%;
  object-fit:cover;
}
.explore-card{
  margin:20px auto;
  height:50px;
  padding:0px;
  width:30px;

}
.explore-card h4 {
  margin: 0;
  text-align: center;
  font-size:16px;
  font-weight:600;
}
.section-container p{
  text-align:center;
  width:100%;

}


}
@media screen and (max-width:980px) {
  .section .section-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "img-1"
      "text-1";
    grid-gap: 0.2rem;

  }

}



a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

a,
a:active,
a:focus {
  color: #6f6f6f;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: .2s;
  -ms-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.footer {
  padding: 80px 0px 0px;
  /* background-color: #091427; */
 background-color: #EDF1FF;

}


.footer .widget1 ul {
  font-size: 16px;
  color: rgba(255, 255, 255, .6);
  color:#0A142F;
  margin-top: 26px;
}

.footer .widget1  {
  color:#000000;
}


.footer .socialLinks {
  margin-top: 28px;
}

.socialLinks ul li {
  display: inline-block;
}


.socialLinks ul li a i {
  display: block;
  margin: 0 2px;
  width: 50px;
  height: 50px;
  background: #fafafa;
  border-radius: 50%;
  text-align: center;
  margin-right: 5px;
  line-height: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.socialLinks ul li a .fa-facebook-f {
  color: #4267b2;
}

.socialLinks ul li a .fa-twitter {
  color: #1da1f2;
}

.socialLinks ul li a .fa-google-plus-g {
  color: #dd5044;
}

.socialLinks ul li a .fa-linkedin-in {
  color: #0177b5;
}


.socialLinks ul li a:hover i {
  color: #fff;
}

.socialLinks ul li a:hover .fa-facebook-f {
  background: #4267b2;
}

.socialLinks ul li a:hover .fa-twitter {
  background: #1da1f2;
}

.socialLinks ul li a:hover .fa-instagram {
  background: #dd447f;
}

.socialLinks ul li a:hover .fa-linkedin {
  background: #0177b5;
}

footer .logo {
  max-width: 200px;
}

.footer h5 {
  font-weight: 500;
  margin-bottom: 28px;
  text-transform: capitalize;
  font-weight: 600;
  /* color: #fff; */
  color:#0A142F;
  font-size: 21px
}

.footer .widget2 .media img {
  margin-right: 20px;
  max-width: 100px;
}

.footer .widget2 .media p {
  font-size: 16px;
  color: rgba(255, 255, 255, .8);
  ;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  font-weight: 600;
  line-height: 26px;
}

.footer .widget2 .media span {
  font-size: 12px;
  color: #ffb606;
  text-transform: uppercase;
  margin-top: 15px;
  display: block;
}

.footer .widget2 .media {
  margin-bottom: 20px;
}

.footer .widget3 ul li a,
.footer .widget4 ul li a {
  font-size: 16px;
  /* color: rgba(255, 255, 255, .6); */
  color:#0A142F;
  font-weight: 400;
  /* text-transform: capitalize; */
  margin-bottom: 13px;
  display: block;
  /* text-decoration: underline; */
}

.footer .widget3 ul li a:hover,
.footer .widget4 ul li a:hover,
.footer .widget2 a:hover p {
  color: #0B2DAC;
  border-bottom: 1px solid #0177b5;
}

.footer .widget3 h5 {
  margin-bottom: 22px;
  font-weight: 600;
  color:#0A142F;
  font-size: 21px;
  line-height: 32px;
}

.footer .widget4 h5 {
  margin-bottom: 22px;
  font-weight: 600;
  color: #0A142F;
  font-size: 21px;
}

.copyRightArea {
  margin-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 25px 0px 28px;
}

.copyRightArea p {
  /* color: rgba(255, 255, 255, 0.6); */
  color:0A142F
}



.news-letter-form {
  margin-top: 15px;
}

.news-letter-form input {
  width: 100%;
  padding: 12px 25px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
  outline: none;
}

.news-letter-form input[type="submit"] {
  width: auto;
  border: none;
  background-color: #ffb606;
  padding: 9px 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: #ffffff;
  margin-top: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 767.98px) { 
  .footer .row{
      margin:10px;
    }
    .footer h1{
      /* text-align:center; */
    }
    .logo{
      /* margin:0 auto; */
    }
    .footer .col-sm-6 , .footer .col-lg-4{
      margin:10px auto;
    }
}