
.login-signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* height: 90vh; */
  }
  .login-signup-container form , .update-profile-form form{
    /* box-shadow: black 0 0 2px 0; */
    border-radius: 4px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
  
    background: white;
    align-items: center;
    gap: 25px;
    width: 360px;
  }
  .details-cont form {
    /* box-shadow: black 0 0 2px 0; */
    border-radius: 4px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
  
    background: white;
    align-items: center;
    gap: 20px;
    width: 360px;
  }
  .react-tel-input .form-control , .react-tel-input {
    height: 56px;
}

@media only screen and (min-width: 320px) and (max-width: 767.98px) {

  .details-cont form{
    width:340px;
  }
  .react-tel-input .form-control{
    width:280px;
}
.update-profile-form form {
  width:340px;
}
}